.highlight-clean {
  margin-top: 10rem;
  height: 100%;
}

@media (min-width: 992px) {
  .highlight-clean {
    margin-top: 10rem;
    height: 100%;
  }
}

.highlight-clean h2 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
}

@media (min-width: 992px) {
  .highlight-clean h2 {
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 25px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
  }
}

.highlight-clean .buttons {
  text-align: center;
}

.highlight-clean .buttons .btn {
  padding: 20px 32px;
  margin: 6px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 50px;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none;
  background-color: #ddd;
}

.highlight-clean .buttons .btn:hover {
  opacity: 1;
}

.highlight-clean .buttons .btn:active {
  transform: translateY(1px);
}

.highlight-clean .buttons .btn-primary {
  color: #fff;
  background: linear-gradient(55deg, var(--primary) 56%, rgb(131,131,131) 100%);
  font-family: Poppins, sans-serif;
  text-align: center;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid rgba(0,0,0,.1);
  max-width: 100px;
}

.intro-500px {
  max-width: 90%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .intro-500px {
    max-width: 700px;
    margin: 0 auto;
  }
}

.intro-500px p {
  font-size: 26px;
  text-align: center;
  font-family: 'Poppins';
}

@media (min-width: 992px) {
  .intro-500px p {
    font-size: 32px;
    text-align: center;
    font-family: 'Poppins';
  }
}

